<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cahstudio.rumahtentor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_circle"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".ui.admin.TentorDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.admin.TentorListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.WaitingConfirmedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.ScheduleListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.ChatTentorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.OrderDetailAdminActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.CreateScheduleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.SeeScheduleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.OnChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.ChatAdminActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.AnswerQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.student.AskQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.SeeScheduleTentorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.student.SeeScheduleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.student.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.ListOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.student.OrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.ChooseCourseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.ChooseLevelActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.MainAdminActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.MainTentorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.RegisterTentorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.student.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.student.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.tentor.LoginTentorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.admin.LoginAdminActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.student.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <receiver android:name=".utils.NotificationReceiver" />
    </application>

</manifest>